<section class="section section-reveal">
  <div class="container">
    <article class="cta-strip">
      <div>
        <h2><%= page.ctaStrip.title %></h2>
        <p><%= page.ctaStrip.description %></p>
      </div>
      <a class="btn btn-primary" href="<%= page.ctaStrip.actionHref %>"><%= page.ctaStrip.actionText %></a>
    </article>
  </div>
</section>
